/* ---------Heading */

h1 {
    text-align: center;
    font-size: 2.5rem;
}

/* ---------Start buttons */
.start {
    margin: 0 auto;
    display: block;
    height: 2em;
    width: 15em;
    margin-bottom: 1%;
}

.help {
    margin: 0 auto;
    display: block;
    height: 2em;
    width: 15em;
}

.helpHeading {
    text-align: center;
    font-size: 2rem;
}

/* ---------How to play */
.backButton {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
}

.explanation {
    text-align: center;
    font-size: 130%;
}


/* ---------question one options*/
.optionsOne>.buttonDiv {
    width: 30%;
    display: inline-block;
    margin: 0 auto;

}

.option {
    margin-left: 40%;
    height: 2em;
    width: 15em;
    display: block;
    text-align: center;


}

.optionsOne>.option {
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

.buttonDiv {
    margin: 0 auto;
    width: 33%;
    text-align: justify;
}

/* ---------First question */
.imageOne {
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);

}

.questionOne {
    text-align: center;
    font-size: 2rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* ---------Second question */
.imageTwo {
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);

}

.questionTwo {
    text-align: center;
    font-size: 2rem;
}

.optionsTwo>.buttonDiv {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

.optionsTwo>.option {
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

/* ---------Correct answer confirmation*/
.correctHeading {
    text-align: center;
    background-color: rgb(18, 156, 18);
    font-size: 2rem;
    height: 7rem;
    margin: 0 auto;
    display: block;
}

#correctPage>.correctDiv {
    transform: scale(0.8, 0.8);
}

.next {
    display: block;
    margin: 0 auto;
    height: 2em;
    width: 15em;
    background-color: rgb(102, 163, 247);
    border: none;
}


/* ---------incorrect answer confirmation */
.incorrectHeading {
    text-align: center;
    background-color: rgb(18, 156, 18);
    font-size: 2rem;
    height: 7rem;
    margin: 0 auto;
    display: block;
}

#incorrectPage>.incorrectDiv {
    transform: scale(0.8, 0.8);
}

/* ---------Third question*/

.imageThree {
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);

}

.questionThree {
    text-align: center;
    font-size: 2rem;
}

.optionsThree>.buttonDiv {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

.optionsThree>.option {
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

/* ---------Fourth question */

.imageFour {
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);

}

.questionFour {
    text-align: center;
    font-size: 2rem;
}

.optionsFour>.buttonDiv {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

.optionsFour>.option {
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

/* ---------Overlay after the last question was completed */

.finalStatement {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.endQuiz {
    display: block;
    margin: 0 auto;
    height: 2em;
    width: 15em;

}

.greenBox {
    width: 60%;
    background-color: rgb(18, 156, 18);
    margin: auto;
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}