/* ---------Heading */
h1{
    text-align: center;
    font-size: 2.5rem;
}

/* ---------Start button on the main page */
.start{
    margin: 0 auto;
    display: block;
    height: 2em;
    width: 15em;
    margin-bottom: 1%;
}

.help{
    margin: 0 auto;
    display: block;
    height: 2em;
    width: 15em;
}

/* ---------question one options*/
.optionsOne > .buttonDiv{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    
}

.option{
    margin-left: 40%;
    height: 2em;
    width: 15em;
    display: block;
    text-align: center;

    
}

.optionsOne > .option{
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

.buttonDiv{
    margin: 0 auto;
    width: 33%;
    text-align: justify;
}

/* ---------First question */
.imageOne{
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);
    
}

.questionOne{
    text-align: center;
    font-size: 2rem;
}

.hide{
    display: none;
}

/* ---------Second question */
.imageTwo{
    height: 30%;
    width: auto;
    margin: 0 auto;
    transform: scale(0.8, 0.8);
    
}

.questionTwo{
    text-align: center;
    font-size: 2rem;
}

.optionsTwo > .buttonDiv{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

.optionsTwo > .option{
    margin: 0 auto;
    position: fixed;
    text-align: justify;
}

/* ---------Correct answer confirmation*/
.correctHeading{
    text-align: center;
    background-color: green;
    font-size: 2rem;
    height: 7rem;
}

#correctPage > .correctDiv{
    transform: scale(0.8, 0.8);
}

.next{
    display: block;
    margin: 0 auto;
    height: 2em;
    width: 15em;
}


/* ---------incorrect answer confirmation */
.incorrectHeading{
    text-align: center;
    background-color: green;
    font-size: 2rem;
    height: 7rem;
}

#incorrectPage > .incorrectDiv{
    transform: scale(0.8, 0.8);
}






